body {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #f4c257;
  font-size: 35px;
  font-family: "Titillium Web", sans-serif;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 35px;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.calc {
  width: 324px;
  margin: auto;
  background-color: #435c1d;
  padding: 20px;
  border-radius: 8px;
}

.calc-display {
  width: 100%;
  height: 75px;
  border: none;
  background-color: #cdeca1;
  margin-bottom: 10px;
  border-radius: 8px;
}

input[type=button] {
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #435c1d;
  border: none;
  border-radius: 8px;
  background-color: #d9ebc0;
}

.double_width {
  width: 158px !important;
}

.double_heigth {
  height: 158px !important;
  background-color: #f4c257 !important;
}